﻿<!DOCTYPE html>
<html lang="en">
<head>

    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color:bisque">

    <div></div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <div>

                <img src="~/image/logo.png" alt="" align="left" width="150" height="50" />
                    
                <div style="position:absolute;top:0;right:0;border:0;">
                    <img src="~/image/youtube-logo-png-23.png" align="right" alt="bize ulaşın" width="50" height="50"/>
                    <a href="https://www.facebook.com/mmahmut.arslan" target="_blank"><img src="~/image/facebook.png" align="right" alt="bize ulaşın" width="50" height="50" /></a>
                    <a href="https://twitter.com/mahmutrsln" target="_blank"><img src="~/image/650855-twitter-512.png" align="right" alt="bize ulaşın" width="50" height="50" /></a>
                </div>
            </div>
        </div>

        </div>

    </nav>
    <nav class="navbar navbar-inverse">

        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Kitap Kritik</a>
            </div>

            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Anasayfa</a></li>
                <li><a href="#">Amaç</a></li>
                <li><a href="#">Kategoriler</a></li>

                <li><a href="#">İletişim</a></li>
                <li><a href="#"><img src="~/image/_yazar_olmak_banner.png" width="100" height="40" /></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span><label> Kullanıcı Girişi</label> </a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> <label> Kayıt Ol</label></a></li>
            </ul>

        </div>


    </nav>

    <div class="row">

        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/image/2.jpg" alt="">
                <div class="caption">
                    <h3><strong>Beyaz Diş</strong></h3>

                    Jack London’ın Issız Diyarı, yabanı, buz kalpli Kuzey Toprakları’ndaki hayatı konu edindiği ikinci romanı Beyaz Diş’tir. Vahşetin Çağrısı’na kendini bırakmış bir annenin yavrusu Beyaz Diş’in diyarıdır anlatılan. Onun hayranlık uyandırıcı zekâsı ve içgüdüleriyle kendini var edişinin ve “insan tanrılar”ın yaşamına geri dönüşünün enfes hikâyesi…
                    <p><a href="#" class="btn btn-primary" role="button">Devamını oku...</a> </p>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/image/3.jpg" alt="">
                <div class="caption">
                    <h3><strong>Kürk Mantolu Madonna</strong></h3>
                    <p>
                        "Her gün, daima öğleden sonra oraya gidiyor, koridorlardaki resimlere bakıyormuş gibi ağır ağır, fakat büyük bir sabırsızlıkla asıl hedefine varmak isteyen adımlarımı zorla zapt ederek geziniyor; rastgele gözüme çarpmış gibi önünde durduğum 'Kürk Mantolu Madonna'yı seyre dalıyor, ta kapılar kapanıncaya kadar orada bekliyordum."
                        Kimi tutkular rehberimiz olur yaşam boyunca. Kollarıyla bizi sarar. Sorgulanmadan peşlerinden gideriz ve hiç pişman olmayacağımızı biliriz.
                        Yapıtlarında insanların görünmeyen yüzlerini ortaya çıkaran Sabahattin Ali, bu kitabında güçlü bir tutkunun resmini çiziyor. Düzenin sildiği kişiliklere, yaşamın uçuculuğuna ve aşkın olanaksızlığına dair, yanıtlaması zor sorular soruyor.
                    </p>
                    <p><a href="#" class="btn btn-primary" role="button">Devamını oku...</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>



</body>
</html>

